@import "mediaqueries";


header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 0rem 0rem 5rem 5rem;
    @include mobile(){
        width: 100%;
        
    }
}

.titulo1 {
    font-size: larger;
    font-family: "Playball", cursive;
    text-align: center;
    
}


.logocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(224, 221, 221);
    font-size: 40px;
    @include mobile(){
    flex-direction: column;
    }
}

.logo {
    height: 200px;
    width: 300px;
    position: relative;
    right: 100px;
    margin: 20px;
    @include mobile(){
        position: static;
}

}

.barra {
    border-radius: 2rem;
}

.navbar {
    background-color: #415d61;
    border-radius: 2rem;
    @include mobile(){
        z-index: 100;
        }
    
}

.nav-link {
    color: antiquewhite;
}